nav {
    background-color: #127475 !important;
    color: white !important;
    position: fixed;
    width: 100%;
    top: 0;
    display: block;
    z-index: 1000;
}

nav a {
    color: white !important;
}

.container {
    padding-top: 3.125rem;
}

#detail {
    background-color: #f5dfbb73;
    width: 100%;
    margin-top: 0.938rem;
    border-radius: 0.5rem;
}

#back {
    display: flex;
    justify-content: flex-end;
    padding: 0;
}

#image {
    height: 18.75rem;
    width: 100%;
    margin-top: 0.625rem;
}

#information {
    margin-top: 1.875rem;
}

#attractions {
    padding-top: 3.125rem;
}

#logo {
    height: 4.875rem;
}

h3 {
    font-weight: bold;
}

#text {
    text-align: justify;
    text-justify: inter-word;
}

#buttonPass {
    background-color: #0e9594;
}

section {
    height: 3.125rem;
    background-color: #f5dfbb;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 0;
    padding-bottom: 3.125rem;
    height: 30%;
    margin-top: 50px;
    height: 20%;
    margin-top: 3.125rem;
}

.icon {
    text-align: right !important;
}

.description {
    text-align: left !important;
    color: #313030;
    margin-top: 3.125rem;
}

#logoFooter {
    height: 7rem;
}